:root{
  --font-primary :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-normal:14px;
  --font-weight-button:500;
  
  
  
}

.App {
  height:100%;
  width: 100%;
  
 
  /* padding: 0.5%; */
}

button{
  font-family:var(--font-primary);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-button);

}
.vertical{
  display: flex;
  flex-direction: column;
  
}
.horizontal {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #95A4F8;
  padding:1%;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #596acc;
  z-index: 1;

}
.sidebar.expanded {
   
   width: clamp(100px, 12vw, 180px);
}

.sidebar.collapsed {
  width: clamp(30px,3vw ,45px);
  padding: 0%;
}



 
.MainContent{
  width: 100%;

} 

img{
  object-fit: fill;
}



/* .floating-menu{
  position: fixed;
  cursor: pointer;
  z-index: 1000;
} */

.logo {
  width: 100%; 
  aspect-ratio : 1/1;
  object-fit : fill;
     
}

.last{
  margin-top: auto;
}

.logout{
  background-color: rgb(238, 75, 129);
}

.center{
  display: grid;
  place-items: center;
}

.fullscreen{
  height: 100%;
  width: 100vw;
}

.logContainer{
  background-color: #95A4F8;
  height: 40%;
  width: 40%;
  
}

.toParentSize{
  height: 100%;
  width: 100%;
}

.backDesign{
position: fixed;
 height: 90%;
 width: 90%;  
 background-color: #95A4F8;
 margin-left: 3.7%;

 
}

