
.App {
  height:100%;
  width: 100%;
  background-color: #3A42B4;
 
  /* padding: 0.5%; */
}

.Vertical{
  display: flex;
  flex-direction: column;
  
}
.Horizontal {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #95A4F8;
  padding:1%;
  gap: 8px;
}
.sidebar.expanded {
  /* width: 12vw; */
   width: clamp(100px, 12vw, 180px);
}

.sidebar.collapsed {
  width: clamp(30px,3vw ,45px);
  padding: 0%;
}



/* 
.MainContent{
  width: 100%;
} */

img{
  object-fit: fill;
}



/* .floating-menu{
  position: fixed;
  cursor: pointer;
  z-index: 1000;
} */

.logo {
  width: 100%; 
  aspect-ratio : 1/1;
  object-fit : fill;
  
   
}