

html, body, #root {
  height: 100%;      
  width: 100%;        
  margin: 0;         
  padding: 0px;
  background-color:var(--outer-background-color);
  font-family:var(--font-primary);
 
}
  




